body {
  background-color: rgb(194, 199, 225);
}

.App {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: rgb(45, 103, 144);
  width: 300px;
  border-radius: 16px;
  padding-bottom: 5px;
}

.row {
  display: flex;
}